extends layout

block content
    div.container.card-content
        h1.cards-header View Flashcards Here
        each card in cards
            div.container.card-list-master
                div.container.card-list
                    div.container.front
                        label Question
                            p=card.question
                    div.container.back
                        label Answer
                            p=card.answer