extends layout

block content
    .container.card-content
        h1.cards-header View Flashcards Here
        //TODO render cards as decks. Each deck will be a link
        //that redirects to a view to view cards from that deck
        each card in cards
            p=card.question
            p=card.answer