extends layout

block content
    div.container.error-content
        h1 Error
        i.fas.fa-exclamation-triangle.error-icon
        p=error
        a.error-anchor(href='/')
            button.btn.error-btn Home
