extends layout

block content
    div.container.error-content
        h1 Error
        i.fas.fa-exclamation-triangle.error-icon
        a.error-button(href='/')
            button.btn.btn-primary Home
