extends layout

block content
    div.jumbotron
        h1 Welcome to Flashcard Flashstudy
        p An easy way to study for a test, memorize steps or forumulas. You can use Flashcard Flashstudy to 
            | acheive that. 
    div.container.main-content
        div.container.app-desc
            div.container.step-one
                h3 Step One
                i.far.fa-arrow-alt-circle-right.icons
            div.container.step-two
                h3 Step Two
                i.far.fa-arrow-alt-circle-left.icons
            div.container.step-three
                h3 Step Three
                i.far.fa-arrow-alt-circle-right.icons
        button.btn.btn-info Sign In

