extends layout

block content
    div.container.main-content
        div.jumbotron.index-jumb
            h1 Welcome to Flashcard Flashstudy
            p An easy way to study for a test, memorize steps or forumulas. You can use Flashcard Flashstudy to 
                | acheive that. 
        div.container.app-desc
            div.container.step-one
                h3 Step One
                i.far.fa-arrow-alt-circle-right.icons
                p Nunc lacus urna, euismod non tortor in, vestibulum venenatis 
                    |ligula. Morbi et dignissim odio. Nunc euismod nisi massa, in 
            div.container.step-two
                h3 Step Two
                i.far.fa-arrow-alt-circle-left.icons
                p Nunc lacus urna, euismod non tortor in, vestibulum venenatis 
                    |ligula. Morbi et dignissim odio. Nunc euismod nisi massa, in
            div.container.step-three
                h3 Step Three
                i.far.fa-arrow-alt-circle-right.icons
                p Nunc lacus urna, euismod non tortor in, vestibulum venenatis 
                    |ligula. Morbi et dignissim odio. Nunc euismod nisi massa, in
        div.container.btn-container
            a.btn.btn-info.sign-up-btn(href='/register') Sign Up
            a.btn.btn-info.login-btn(href='/login') Login

