extends layout

block content
    div.jumbotron
        h1 Welcome to Flashcard Flashstudy
    div.container.main-content
        p Needing a way to study for a test, memorize steps or forumulas? You can use Flashcard Flashstudy to 
            | acheive that. 
        div.container.app-desc
            p Step One
            i.fas.fa-arrow-circle-right.icons
