extends layout

block content
    div.container.login-content
        h1.login-header Login to Your Account
        form.login-form(action='/login' method='POST')
            .form-group.login-group
                label(for='email') Email address:
                input#email.form-control(type='email' placeholder='Enter email')
            .form-group.login-group
                label(for='pwd') Password:
                input#pwd.form-control(type='password' placeholder='Enter password')
            div.container.btn-container-reg
                button.btn.login-user-btn(type='submit' role='button') Login
