extends layout

block content
    div.container.sign-content
        h1.sign-up-header Register for An Account
        form.sign-up-form(action='/register' method='POST')
            .form-group.reg-group
                label(for='email') Email address:
                input#email.form-control(type='text' name='username' placeholder='Enter username')
            .form-group.reg-group
                label(for='pwd') Password:
                input#pwd.form-control(type='password' name='password' placeholder='Enter password')
            .form-group.reg-group
                label(for='pwd') Confirm Password:
                input#pwd.form-control(type='password' name='confirmPassword' placeholder='Confirm password')
            //TODO add form for BUTTON to register user
            div.container.btn-container-reg
                //a.btn.register-btn(type='submit' role='button') Register
                button.btn.register-btn(type='submit' role='button') Register
