* {
    box-sizing: border-box;
}

body {
    background: #b1b4b5 url('../images/study-landing.jpg') no-repeat fixed center;
    background-size: cover;
    letter-spacing: 1.3px;
    font-family: 'Maven Pro', sans-serif;
}

/************
NAV STYLES
*************/

nav {
    background-color:#cc942d;
}

nav a {
    color: #fff;
    font-weight: 700;
}

nav a:hover {
    color: black;
}

/*END NAV*/

.main-content {
    padding-top: 70px;
    padding-bottom: 30px;
}

.index-jumb {
    max-width: 75%;
    margin: 15px auto;
}

.app-desc {
    background-color: rgba(24, 51, 58, .7);
    border-radius: 10px;
    max-width: 50%;
    color:white;
}

.app-desc .container {
    margin: 15px 0;
    padding: 10px;
}

.step-one h3,
.step-one .icons,
.step-three h3,
.step-three .icons {
    float: left;
}

.step-two h3,
.step-two .icons {
    float: right;
}

.icons {
    font-size: 90px;
}

.btn-container {
    text-align: center;
    display: flex;
    justify-content: space-around;
    max-width: 50%;
}

.sign-up-btn,
.login-btn {
    padding: 10px 30px;
    margin: 5px;
    width: 100%;
}

.login-btn {
    background-color: #2dcc77;
    border-color: #2dcc77;
}

.login-btn:hover {
    background-color: #09ad56;
    border-color: #09ad56;
}

.sign-up-btn {
    background-color: #2daacc;
    border-color:#2daacc;
}

.sign-up-btn:hover {
    background-color: #0697bf;
    border-color: #0697bf;
}

/*********************
    LOGIN STYLES
*********************/
.login-content {
    margin-top: 70px;
}

.login-form {
    margin: 100px auto;
    padding: 15px;
    color: #fff;
    width: 65%;
    border-radius: 10px;
    background-color: rgba(45, 204, 119, .7);
    font-weight: 700;
}

.login-group {
    max-width: 75%;
    margin: 10px auto;
}

.btn-container-reg {
    text-align: center;
}

.login-user-btn {
    background-color: #2daacc;
    border-color: #2daacc;
    color: white;
}

.login-user-btn:hover {
    background-color: #0697bf;
    border-color: #0697bf;
}

/*********************
    END LOGIN STYLES
*********************/

/******************
    SIGN UP STYLES
*******************/
.sign-content {
    margin-top: 70px;
}

.sign-up-form {
    margin: 100px auto;
    padding: 15px;
    color: #fff;
    width: 65%;
    border-radius: 10px;
    background-color: rgba(45, 170, 204, .7);
    font-weight: 700;
}

.reg-group {
    max-width: 75%;
    margin: 10px auto;
}

.btn-container-reg {
    text-align: center;
}

.register-btn {
    background-color: #2dcc77;
    border-color: #2dcc77;
    color: white;
}

.register-btn:hover {
    background-color: #09ad56;
    border-color: #09ad56;
}
/*********************
    END SIGN UP STYLES
*********************/

/*********************
    CARDS STYLES
*********************/
.card-content,
.add-card-content {
    margin-top: 70px;
}

.cards-header,
.add-card-header,
.sign-up-header,
.login-header {
    background-color: #24d1c5;
    max-width: 50%;
    padding: 10px;
    text-align: center;
    margin: auto;
    color: #fff;
    border-radius: 10px;
}

.add-question-btn {
    background-color: #cc942d;
    border-color: #cc942d; 
    color: #fff;
    padding: 8px 15px;
}

.add-question-btn:hover {
    background-color: #e69a0e;
    border-color: #e69a0e; 
}
/*********************
    END CARDS STYLES
*********************/

/***************
    ERROR STYLES
****************/
.error-content {
    text-align: center;
    background-color: rgba(144, 151, 158, .7);
    padding: 30px;
    margin-top: 100px;
    max-width: 60%;
}

.error-icon {
    font-size: 100px;
    color: #bd4b4b;
}

.error-anchor {
    margin-top: 10px;
    display: block;
}

.error-btn {
    background-color: #2daacc;
    border-color: #2daacc;
    color: #fff;
}

.error-btn:hover {
    background-color: #0697bf;
    border-color: #0697bf;
}
/*
    END ERROR STYLES
*/

.main-content,
.error-content,
.add-content,
.card-content {
    min-height: calc(100vh - 70px);
}

.footer {
    text-align: center;
    height: 50px;
}

.text-muted p {
    color: #fff;
    font-weight: 700;
}

@media only screen and (max-width: 1000px) {
    .app-desc,
    .error-content,
    .index-jumb,
    .btn-container,
    .sign-up-form,
    .reg-group {
        max-width: 100%;
    }

    .cards-header,
    .add-card-header,
    .sign-up-header,
    .login-header {
        max-width: 75%;
    }
  }